@import "variables";
//Shared

//Main Page file

.main-div {
  width: 720px;
  border: 1px solid $primary;
  margin: 0 auto;
}

//Header file

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  border: 0;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links-div {
  display: flex;
  justify-content: start;
}

.nav-link {
  color: $secondary;
  font-weight: 400;
  padding: 5px;
  font-size: 0.875rem;
}

.logo-img {
  width: 150px;
  height: auto;
}

.reservar-button {
  background-color: $primary;
  color: white;
  border-radius: 5px;

  &:hover {
    background-color: $primary-hover;
  }
}

//Information file
.main-title-div {
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  color: $primary;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid $primary;

  span {
    position: relative;
    color: white;
    border-radius: 300px;
    background-color: $primary;
  }
}

.information {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  text-align: center;
  p {
    margin-bottom: 40px;
    span {
      color: $primary;
      font-weight: bold;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}
.disclaimer {
  font-weight: bold;
  border: 1.5px solid $primary;
  border-radius: 10px;
  padding: 5px;
}

//Cuestionario file
.cuestionario-div {
  background-color: $tertiary;
  margin-bottom: 40px;
  table {
    width: 638px;
    margin: 0 auto;
    //Styles for table border radius
    border-collapse: separate;
    border-spacing: 0;
  }
  .head-row {
    background-color: $primary;
  }
  th {
    color: white;
    padding: 10px;
  }

  td {
    font-weight: 600;
    padding: 10px;
    color: $secondary;

    //Styles for table border radius
    border-style: none solid solid none;
    border-bottom: 1px solid rgba(184, 184, 184, 0.3);
    &:last-child {
      text-align: center;
    }
    &:not(:last-child) {
      padding-left: 20px;
    }
  }

  .checkboxes-td {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .si-label,
  .no-label {
    margin-right: 5px;
    cursor: pointer;
    color: $secondary;
  }

  .no-label {
    margin-left: 15px;
  }

  //Start of styles for table borders and border radius
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-right: 1px solid rgba(184, 184, 184, 0.3);
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-left: 1px solid rgba(184, 184, 184, 0.3);
  }
  td:first-child {
    border-left: 2px solid $primary;
    border-right: 1px solid rgba(184, 184, 184, 0.3);
  }
  td:last-child {
    border-right: 2px solid $primary;
    border-left: 1px solid rgba(184, 184, 184, 0.3);
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  tr:first-child td {
    border-top-style: solid;
  }
  tr td:first-child {
    border-left-style: solid;
  }
  tr:last-child td {
    border-bottom: 2px solid $primary;
  }
  //End of styles for table border radius
}

//Resultados file
.resultados-div {
  margin: 0 40px 80px 40px;
  text-align: center;
  h2 {
    color: $secondary;
    font-weight: bold;
    margin-bottom: 10px;
  }
  span {
    color: $primary;
  }
}

.bar {
  position: relative;
  width: 100%;
  height: 40px;
  border: solid 2px $primary;
  border-radius: 10px;
  .inside-bar {
    // position: relative; you got to figure out how an element with absolute can be relative to the bar not inside bar (refering to the 100%

    height: 100%;
    width: 66%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $primary;
  }
  p {
    position: absolute;
    top: 5px;
    font-weight: bold;
  }
  .zero {
    left: 10px;
  }
  .hundred {
    right: 10px;
  }
}

.information-result {
  margin-top: 100px;
}

.percentage {
  position: absolute;
  top: 100px;
  left: 66%;
  color: $primary;
  font-weight: bold;
  font-size: 44px;
}

//Footer file
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary;
  padding-top: 20px;
  padding-bottom: 20px;
  div {
    margin-bottom: 20px;
  }
  p,
  button {
    color: white;
  }
  button {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    &:hover {
      background-color: #f89e4c;
    }
  }
}
