@import "variables";

.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid #b8b8b8;
  border-radius: 25%;
  cursor: pointer;

  .checkbox-inner {
    width: 15.5px;
    height: 15.5px;
    margin: 1.5px;
    border-radius: 25%;
    background-color: #fff;
  }
}

.checkbox-inner.checked {
  background-color: $primary;
}
